
body {
    position: relative;
    height: 700px;
    
    background: #EFDD36;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-small;
  }

  
  
header {
  text-align: center;

  margin: -10px;
  height:80px;

  background-color: #f6f6f6;
}
.logo {
    position: absolute;
    padding-top: 20px;
    left: 15px;
    width: 150px;
   

  }

  .logo1 {justify-content: center;
      padding-top: 13px;
      height: 50px;
      width: 500px;
  }



footer {
  position: fixed;
  
color:#EFDD36;
font-size:large;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: 2px solid #f6f6f6;
  background-color: #f6f6f6;
  padding-left: 35px;
  text-shadow: 1px 1px #caba2b;
}




#conteneur0 {
    width: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 30px 30px 50px 30px;
}

#conteneur1 {
    width: 300px;
    border-width: 1px;
    border-style: solid;
    border-color: #EFDD36;
    background-color:
        white;
    border-radius: 10%;
padding-bottom: 50px;
}

#conteneur2 {
    width: 300px;
    border-width: 1px;
    border-style: solid;
    border-color: #EFDD36;
    background-color:
        white;
    border-radius: 10%;
padding-bottom: 50px;
}

#conteneur3 {
   
    height: 400px;
    width: 250px;
    border-width: 1px;
    border-style: solid;
    border-color: #EFDD36;
    background-color:
        white;
    border-radius: 10%;

}


#logoLinkedin {
    text-align: center;
    padding-top: 25px;
}

#circle1 {
    width: 60px;
    height:60px;
    border-radius:50px;
    color:#fff;
    margin-left: 120px;
    margin-top: 25px;
    background:grey;
}

#circle2 {
    width: 60px;
    height:60px;
    border-radius:50px;
    color:#fff;
    margin-left: 120px;
    margin-top: 25px;
    background:grey;
}

#circle3 {
    width: 60px;
    height:60px;
    border-radius:50px;
    color:#fff;
    margin-left: 120px;
    margin-top: 25px;
    background:grey;
}

#titreFB {
    text-align: center;
    
}

#titreViadeo {
    text-align: center;
    
}

#titreLinkedin {
    text-align: center;
    margin-top: 450px;
}
