header {
  text-align: center;
  border-bottom: 2px solid #efdd36;
  height:50px;
}

body {
  position: relative;
  height: 700px;
}

footer {
  position: fixed;

  bottom: 0;
  right: 0;
  left: 0;
  border-top: 2px solid #efdd36;
}

body {
    margin: 0px;
    background: #EFDD36;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-small;
}

#conteneur0 {
    width: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 30px 30px 50px 30px;
}

#conteneur1 {
    width: 300px;
    border-width: 1px;
    border-style: solid;
    border-color: #EFDD36;
    background-color:
        white;
    border-radius: 10%;
padding-bottom: 50px;
}

#conteneur2 {
    width: 300px;
    border-width: 1px;
    border-style: solid;
    border-color: #EFDD36;
    background-color:
        white;
    border-radius: 10%;
padding-bottom: 45px;
}

#conteneur3 {
    width: 300px;
    border-width: 1px;
    border-style: solid;
    border-color: #EFDD36;
    background-color:
        white;
    border-radius: 10%;
    padding-bottom: 39px;
}

#logoFB {
    text-align: center;
    padding-top: 25px;
}

#logoLinkedin {
    text-align: center;
    padding-top: 45px;
}

#logoViadeo {
    text-align: center;
    padding-top: 25px;
}

#pageFB {
    padding-top: 40px;
    padding-bottom: 40px;
}

#pageViadeo {
    padding-top: 40px;
    padding-bottom: 42px;
}

#pageLinkedin {
    padding-top: 50px;
    padding-bottom: 35px;
}

#boutonFB {
        display: inline-block;
        background-color: purple;
        border-radius: 10px;
        border: 4px purple;
        color: #eeeeee;
        text-align: center;
        font-size: 25px;
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
        width: 150px;
        cursor: pointer;
        margin: 5px;
      }

#boutonViadeo {
    display: inline-block;
    background-color: orangered;
    border-radius: 10px;
    border: 4px orangered;
    color: #eeeeee;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 150px;
    cursor: pointer;
    margin: 5px;
  }

  #boutonLinkedin {
    display: inline-block;
    background-color: blueviolet;
    border-radius: 10px;
    border: 4px blueviolet;
    color: #eeeeee;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 150px;
    cursor: pointer;
    margin: 5px;
  }

