@font-face {
    font-family: "delius-regular";
    src: url("../font/delius-regular-webfont.woff2") format ("woff2");
	src: url("../font/delius-regular-webfont.woff") format ("woff");
}

body{
    width: 940px;
    margin: 0 auto;
    font-family: "Delius-Regular";
}

.logo, .photo{
	text-align: center;
    display: flex;
    flex-direction: column;
    float: left;
	padding-top: 30px;
	padding-bottom: 10px;
}

h1, h2{
	text-align: center;
	text-decoration: underline;
}

aside{
    float: left;
	text-align: center;
}

.legende{
	font-size: smaller;
	font-style: italic;
	text-align: center;
}

article{
    display: flex;
	flex-direction: column;
	float: right;
	justify-content: right;
	width: 428px;
	padding-left: 20px;
	margin: 0 0 20px 0px;
	border-left: 2px;
}

p{
	text-align: justify;	
}