@font-face {
    font-family: "delius-regular";
    src: url("../font/delius-regular-webfont.woff2") format ("woff2");
	src: url("../font/delius-regular-webfont.woff") format ("woff");
}
<<<<<<< HEAD
.main-container{
    width: 940px;
    margin: 0 auto;
	src: url("../../font/Delius-Regular.ttf") format("ttf");
=======

.main-container{
    width: 940px;
    margin: 0 auto;
	font-family: "Delius-Regular"
>>>>>>> 280f05604352b121d9058ae095164460fa0893af
}

.logo, .photo, .bg{
	text-align: center;
    display: flex;
    flex-direction: column;
	padding-top: 30px;
	padding-bottom: 10px;
}

.logo-linkedIn {
	margin-top: 100px;
}

h1, h2{
	text-align: center;
	text-decoration: underline;
}

aside{
	float: left;
	text-align: center;
	padding-top: 45px;
	padding-bottom: 45px;
}

.legende{
	font-size: smaller;
	font-style: italic;
	text-align: center;
}

article{
    display: flex;
	flex-direction: column;
	float: right;
	justify-content: right;
	width: 428px;
	padding-left: 20px;
	margin: 0 0 20px 0px;
	border-left: 2px;
}

p{
	text-align: justify;	
}