html{
	margin: 0;
	padding: 0;
}

body{
	width: 940px;
	margin: 0 auto;
}

h1{
	text-align: center;
}

aside{
    float: left;
	text-align: center;
	width: 470px;
	min-height: 480px;
	margin: 0 0 20px 0;
}

aside > img{
    width: 500px;
	padding: 20px;
}

section{
    float: right;
	width: 428px;
	padding-left: 20px;
	margin: 0 0 20px 0px;
	border-left: 2px;
}

section > p{
	text-align: justify;	
}

h2{
	text-align: center;
	padding-bottom: 10px;
	margin: 0;
}