body {
    width: 940px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 225%;
}

#Img {
    text-align: center;
    display: flex;
    flex-direction: column;
    float: left;
    margin: 10px;
    padding: 69px 30px;
    height: 550px;
    width: 20%;
    border-radius: 20%;
}

article {
    display: flex;
    flex-direction: column;
    float: right;
    justify-content: space-around;
    width: 428px;
    padding-left: 20px;
    margin: 0 0 20px 0px;
    border-left: 2px;
}

h3, h4 {
    text-decoration: underline;
}


